<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="logpath" value="D:\OpcDaAgent"/>
    <add key="port" value="8989"/>
    <add key="remotehost" value="tms"/>
    <add key="host" value="localhost"/>
    <add key="server" value="OPC.DeltaV.1"/>
    <!--comment sample-->
  </appSettings>
</configuration>